In [1]:
""" IN PYTHON WE DONT HAVE ANYTHING LIKE CHARACTER DATA TYPE FOR ONE ELEMENT ALSO THE DATATYPE WILL BE STRING"""

' IN PYTHON WE ONT HAVE ANYTHING LIKE CHARACTER DATA TYPE FOR ONE ELEMENT ALSO THE DATATYPE WILL BE STRING'

In [2]:
a='c'
type(a)

str

In [3]:
print("Hello World")

Hello World

In [4]:
print(1123)

1123

In [5]:
age=32

In [8]:
print("My Age is:",age)

My Age is: 32

In [10]:
##fstring
print(f"My Age is:{age}")

My Age is:32

In [12]:
name ='abhijeet'
age=21
print("My name is {} and my age is {} ".format(name,age))

My name is abhijeet and my age is 21

In [16]:
name="Abhijeet singh rana"

In [14]:
age=32

In [17]:
print("My name is {firstname} and my age is {firstage} ".format(firstname=name,firstage=age))

My name is Abhijeet singh rana and my age is 32

## Control Flow
### Decision making

In [20]:
age=18
if age>=18:
    print("you are elligible to vote")

you are elligible to vote

In [23]:
name=input("Enter you name")

Enter you name

In [24]:
## by default the input data type is string

In [29]:
age=int(input("Enter your age"))

Enter your age 45

In [29]:
age=int(input("Enter your age"))

Enter your age 45

In [33]:
age=int(input("Enter your age"))
if age>=18 and  age<=45:
    print("you are young blood")
else:
    print("Your application has been rejected")

Enter your age 15

Your application has been rejected

In [35]:
price=int(input("Enter the price of product"))
if price>=1000:
    print("price after dicount is:",(price-(0.2*price)))
else:
    print("price after dicount is:",(price-(0.3*price)))

Enter the price of product 999

price after dicount is: 699.3

In [4]:
price=int(input("Enter the price of the product"))
if price >3000:
    print("Discounted price is:",0.8*price)
elif price >=2000 and price <=3000:
    print("Discounted price is:",0.7*price)
    if price ==2999:
        print("you will also get a Tea cup")
elif price >=1000 and price<=2000:
    print("Discounted price is:",0.6*price)
else:
    print("Discounted price is:",price)

Enter the price of the product 2999

Discounted price is: 2099.2999999999997
you will also get a Tea cup

# Single Statement suit

In [6]:
#where only one if and one else work and if conition will only in one line

# Loop Statements

1. while loop
2. for loop 
3. nested loop
4. Loop controls(break, continue, pass )

In [14]:
#while_loop
joining_age=25
i=1
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Now its time to retire")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Now its time to retire

In [16]:
total_amt=1000
while total_amt>0:
    print(total_amt)
    total_amt=total_amt-100
else:
    print("Paisa khatam")

1000
900
800
700
600
500
400
300
200
100
Paisa khatam

In [19]:
lst=[13,"krish","apple",245,3,5,68]
type(lst)

list

In [20]:
lst[0]

13

# for Loop

In [21]:
for x in lst:
    print(x)

13
krish
apple
245
3
5
68

In [22]:
fruit_list=["APPLE","MANGO","BANANA","ORANGE","PINEAPPLE"]
for i in fruit_list:
    print(i)

APPLE
MANGO
BANANA
ORANGE
PINEAPPLE

In [23]:
## for loop is just for iterating in the list

In [26]:
fruit="BANANA"
for i in fruit:
    print(i,end=' ')

B A N A N A

## Nested loops

In [27]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [28]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [32]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [7]:
fruit_list=["APPLE","MANGO","BANANA","ORANGE","PINEAPPLE"]
for i in fruit_list:
    if i=="APPLE":
        print("The fruit is apple")
        continue
    print(i)

The fruit is apple
APPLE
MANGO
BANANA
ORANGE
PINEAPPLE

In [8]:
fruit_list=["APPLE","MANGO","BANANA","ORANGE","PINEAPPLE"]
for i in fruit_list:
    if i=="APPLE":
        print("The fruit is apple")
        continue
    print(i)

The fruit is apple
MANGO
BANANA
ORANGE
PINEAPPLE